$color-orange: #f26a2c;
$mab-orange: (
  50: #ffffff,
  100: lighten($color-orange, 80%),
  200: lighten($color-orange, 60%),
  300: lighten($color-orange, 40%),
  400: lighten($color-orange, 20%),
  500: $color-orange,
  600: darken($color-orange, 20%),
  700: darken($color-orange, 40%),
  800: darken($color-orange, 60%),
  900: darken($color-orange, 80%),
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);
$color-blue: #3b4153;
$mab-blue: (
  50: #ffffff,
  100: lighten($color-blue, 80%),
  200: lighten($color-blue, 60%),
  300: lighten($color-blue, 40%),
  400: lighten($color-blue, 20%),
  500: $color-blue,
  600: darken($color-blue, 20%),
  700: darken($color-blue, 40%),
  800: darken($color-blue, 60%),
  900: darken($color-blue, 80%),
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);
$color-teal: #668891;
